/* 重置所有选定元素的边距和内边距为0 */
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, fieldset, legend, button, input, th, td {
    margin: 0; /* 设置外边距为0 */
    padding: 0; /* 设置内边距为0 */
}
/* 设置选定元素的字体、字号和行高 */
body, button, input, select, textarea {
    font-family: "宋体", verdana, arial, helvetica, sans-serif; /* 设置字体族 */
    font-size: 12px; /* 设置字体大小 */
    line-height: 1.5em; /* 设置行高 */
}

/* 移除ul和ol的默认列表样式 */
ul, ol {
    list-style: none; /* 无列表样式 */
}
/* 设置a链接的默认样式 */
a {
    text-decoration: none; /* 无文本装饰（如下划线） */
    color: #333; /* 链接颜色为深灰色 */
}

/* 分别设置a链接的未访问和已访问状态的样式 */
a:link,
a:visited {
    font-size: 20px;
    text-decoration: none; /* 无文本装饰 */
    color: #000000;
    font-family: "宋书";
    font-weight: bold;
}

/* 设置a链接的悬停状态的样式 */
a:hover {
    color: #2b98db; /* 悬停时链接颜色变为蓝色 */
    font-weight: bold; /* 悬停时字体加粗 */
}

/* 清除浮动 */
.clear {
    clear: both; /* 清除左右浮动 */
}

/****导航栏下拉菜单*****/
#l_logo{
    margin-top: 10px;
    float: left;
}

#r_flash{
    margin-top: 10px;
    float: right;
}

#d_logo{
    float: right;
}

body{
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    margin-top: 10px;
}
