#mm{
    margin-top: 20px;
    width: 990px;
}

table{
    margin-top: 30px;
    border: 1px solid black;
    width: 990px;
    height: 60px;
    border-collapse: collapse;
    background: white;
    margin-bottom: 20px;
}

caption{
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    margin-top: 30px;
}

thead{
    height: 30px;
}

tbody{
    height: 30px;
}

th{
    border: 1px solid black;
    font-size: 20px ;
}

td{
    height: 30px;
    border: 1px solid black;
    font-size: 20px ;
    text-align: center;
    font-weight: bold;
}

body{
    justify-content: center;
    display: flex;
    align-items: center;
}